<h1>Listing dashboards</h1>

<%= @hometemps.to_json.html_safe %>

<br><br><br>

<style>
#chart_container {
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
}
#chart {
        position: relative;
        left: 40px;
}
#y_axis {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 40px;
}
</style>


<div id="chart_container">
  <div id="y_axis"></div>
  <div id="chart" data-url=<%= @hometemps.to_json.html_safe %>></div>
</div>

