<h1>Listing dashboards</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hometemps.each do |ht| %>
  <tr><%= ht.temp %> - <%= ht.humidity %><br>
  </tr>
<% end %>
</table>

<br />

<div id="chart"></div>


